<%= form_with(model: crime) do |form| %>
  <% if crime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime.errors.count, "error") %> prohibited this crime from being saved:</h2>

      <ul>
        <% crime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id %>
  </div>

  <div class="field">
    <%= form.label :crime_name %>
    <%= form.text_field :crime_name %>
  </div>

  <div class="field">
    <%= form.label :pop %>
    <%= form.number_field :pop %>
  </div>

  <div class="field">
    <%= form.label :asian_pop %>
    <%= form.number_field :asian_pop %>
  </div>

  <div class="field">
    <%= form.label :hawaiian %>
    <%= form.number_field :hawaiian %>
  </div>

  <div class="field">
    <%= form.label :black %>
    <%= form.number_field :black %>
  </div>

  <div class="field">
    <%= form.label :american_indian %>
    <%= form.number_field :american_indian %>
  </div>

  <div class="field">
    <%= form.label :unknown %>
    <%= form.number_field :unknown %>
  </div>

  <div class="field">
    <%= form.label :white %>
    <%= form.number_field :white %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
