<%= form_with(model: arrest) do |form| %>
  <% if arrest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arrest.errors.count, "error") %> prohibited this arrest from being saved:</h2>

      <ul>
        <% arrest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id %>
  </div>

  <div class="field">
    <%= form.label :crime_id %>
    <%= form.text_field :crime_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
